<div class="container-fluid">
    <div class="row">
        <div class="column">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="column">
            <h1> Stat 1</h1>
            <h1> 69% </h1>
        </div>
        <div class="column">
            <h1> Stat 2</h1>
            <h1> 69% </h1>
        </div>
      </div>
      <div class="row">
        <div class="column">
            <h1> Stat 3</h1>
            <h1> 69% </h1>
        </div>
        <div class="column">
            <h1> Stat 4</h1>
            <h1> 69% </h1>
        </div>
      </div>
</div>
