<div>
    <div class="container-fluid" >
        <div routerLink="league/{{id}}">
            <h2 >Roundnet Bz</h2>
             <p> Pos 5</p>
        </div>  
    </div>
    <div class="container-fluid">
        <div routerLink="league/{{id}}">
            <h2 >Roundnet Bz</h2>
             <p> Pos 5</p>
        </div>  
    </div>
    <div class="container-fluid">
        <div routerLink="league/{{id}}">
            <h2 >Roundnet Bz</h2>
             <p> Pos 5</p>
        </div>  
    </div>
</div>


